<h2>Post</h2>

<p>
  <b><%= post.title %></b>
  <br />
  <em> <%= post.author && post.author.name || 'Sin autor' %> </em>
</p>

<p>
  <%= post.updatedAt.toLocaleDateString() %>
</p>

<p><%- escapeText(post.body) %></p>

<p> <%= post.ccount %> comentarios </p>
<% if (session.user && session.user.id == post.authorId) {%>
<a href="/posts/<%= post.id %>/edit"> Edit </a>
<% } %>
<hr />
<%- include ../comments/index.ejs %>
<hr />
<% if (session.user) { %>
<blockquote>
<%- include ../comments/new.ejs %>
</blockquote>
<hr />
<% } %>

<a href="/posts"> Back  </a>
